.titleOpportunities{
    font-weight: 300!important;
    
}
/* .container{
    background-color:  ;
}  */
.opportunities{
    padding-top: 5%;
    background-color: #f7f0ec;
}
.header_opportunities{
    display: flex;
    justify-content: space-between;
}
.filter_button{
    background-color:#c8bebe ;
    cursor: pointer;
    color: white!important;
    justify-content: flex-end;
}
